# dependencies
node_modules
.pnp
.pnp.js

# next.js
/frontend/.next/
/frontend/out/

# yarn
yarn.lock

# build
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/backend-dev*.log
/frontend-dev*.log

# local tooling
/.playwright-cli/

# env file
.env
!/backend/prisma/.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# PWA
/frontend/public/workbox-*
/frontend/public/sw.*

# project specific
/backend/data/
/data/
/docs/build/
/docs/.docusaurus
/docs/.cache-loader
/config.yaml
/desktop/dist/
/desktop/src-tauri/target/

# Jetbrains specific (webstorm)
.idea/**/**
